@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&family=Roboto:wght@100&display=swap');


*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}

body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    font: size 17px;
    color:#050505;
    line-height: 1.6;
    background-color: rgb(240, 240, 240);
    -webkit-font-smoothing: antialiased;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    

    /* overflow: hidden;   */

}

.half_screen {
    background-image: url('../images/World.png');
    height: 100vh;
    width: 50vw;
    padding-top: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(175, 174, 174);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
   

}


.half_screen p{
    position: absolute;
    color: rgb(10, 10, 10);
    left: 1300px;
    bottom: 700px;

}


.half_screen h2{
    position: absolute;
    font-size: 31px;
    color: rgb(0, 0, 0);
    left: 1000px;
    bottom: 40px;
    line-height: 70px;
    word-spacing: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.half_screen h1{
    font-size: 60px;
    margin-top: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.half_screen a{
    text-decoration: none;
    font-size: 17px;
    padding: 4px;
    color: black;
    background-color:white;
    border-radius: 5px;
    cursor: pointer;
   
}

.half_screen p {
    text-decoration: none;
    font-size: 47px;
 
   
}

.half_screen img {
    width: 200px;
    position: absolute;
    margin-left: 1000px;
    top: 350px;
}

.box img {
    width: 70px;
    position: absolute;
    top: 100px;
}



.half_screen #texty a:hover{
    background-color: rgb(0, 0, 0);
    color: white;
   
   
}

.half_screen #texty{
    /* margin-left:1300px; */
    font-size: 30px;
    margin-top: 200px;
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    line-height: 2.5;

}


.half_screen #texty h1{
   padding-top: 400px;
   text-align: center;
   justify-content: center;
   align-items: center;
   padding-left: 1000px;
   color: rgb(0, 0, 0);
   letter-spacing: 40px;


}




#texty {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 50%;

}

#did_not_know {
    font-size: 50px;
    margin-left: 750px;

}

#introduce_questions {
    position: relative;
    background-color: rgb(255, 255, 255);
    text-align:center ;
    color: rgb(245, 245, 245);
    font-size: 20px;
    text-align: center;
    height: 80vh;
    width: 50vw;
    margin-left: 500px;
}


#introduce_questions p {
    font-size: 30px;
    color: rgb(0, 0, 0);
  
}

#introduce_questions h1 {
    font-size: 25px;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    line-height: 2;
	font-family: 'Poppins', sans-serif;
    
}


#some_text {
    font-size: 20px;
    text-align: center;
}



.general_laws{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 50vw; 
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 10px;
    
}



.border_color {
    background-color: rgb(204, 194, 194);
}



.general_laws .question {
    font-size: 17px;
    margin-left: 40px;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(0, 0, 0);
}












